@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Raleway:wght@300;400;600;700&display=swap" rel="stylesheet)

body {
	font-family: Open sans, sans-serif;
}

#current-weather-details {
	margin: 0 auto;
	width: 90%;
	height: 864px;
	background-image: url(../img/weather.jpg);
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#weather-list {
	text-align: center;
	list-style: none;
	display: flex;
	justify-content: space-between;
	padding-left: 0px;
	display: inline;
	text-transform: uppercase;
	font-family: Raleway;
	font-weight: 600;

}

#city {
	width: 200px;
}

#get-weather{
	background-color: #00CCFF;
	width: 200px;
	height: 50px;
	border: none;
	border-radius: 5px;
	font-size: 15px;
	cursor: pointer;
	margin: 10px;
}