#current-weather-details {
	margin: 0 auto;
	width: 90%;
	height: 864px;
	background-image: url(../img/weather.jpg);
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#weather-list {
	text-align: center;
	list-style: none;
}

#city {
	width: 200px;
}